FlujoFinalMule/target/classes/orquestacionfinal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="9090" doc:name="HTTP Listener Configuration"/>
    <smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <ws:consumer-config name="gestionProveedores" service="GestionProveedores" port="GestionProveedoresSOAP" serviceAddress="http://localhost:9080/PracticaFinal/services/GestionProveedores/" wsdlLocation="http://localhost:9080/PracticaFinal/services/GestionProveedores?wsdl" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="GestionReserva" service="GestionReserva" port="GestionReservaSOAP" serviceAddress="http://localhost:9080/PracticaFinal/services/GestionReserva/" wsdlLocation="http://localhost:9080/PracticaFinal/services/GestionReserva?wsdl" doc:name="Web Service Consumer"/>
    <file:connector name="nuevaReserva.pdf" outputPattern="pdf" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <ws:consumer-config name="Web_Service_Consumer" service="ServiciosExternos" port="ServiciosExternosSOAP" serviceAddress="http://localhost:9080/PracticaFinal/services/ServiciosExternos/" wsdlLocation="http://localhost:9080/PracticaFinal/services/ServiciosExternos?wsdl" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="Web_Service_Consumer1" service="GestionProveedores" port="GestionProveedoresSOAP" serviceAddress="http://localhost:9080/PracticaFinal/services/GestionProveedores/" wsdlLocation="http://localhost:9080/PracticaFinal/services/GestionProveedores?wsdl" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="Web_Service_Consumer2" service="ServiciosExternos" port="ServiciosExternosSOAP" serviceAddress="http://localhost:9080/PracticaFinal/services/ServiciosExternos/" wsdlLocation="http://localhost:9080/PracticaFinal/services/ServiciosExternos?wsdl" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="Web_Service_Consumer3" service="ReservaPersService" port="ReservaPersPort" serviceAddress="http://localhost:8080/ode/processes/ReservaPers" wsdlLocation="http://localhost:8080/ode/deployment/bundles/BPELReservaPers/ReservaPersArtifacts.wsdl" doc:name="Web Service Consumer"/>
    <ws:consumer-config name="Web_Service_Consumer4" service="ReservaPaService" port="ReservaPaPort" serviceAddress="http://localhost:8080/ode/processes/ReservaPa" wsdlLocation="http://localhost:8080/ode/deployment/bundles/BPELReservaPa/ReservaPaArtifacts.wsdl" doc:name="Web Service Consumer"/>
    <flow name="orquestacionfinalFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/*" doc:name="HTTP"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties.'http.request.path'=='/enviarpublicidad']">
                <flow-ref name="EnviarPublicidad" doc:name="EnviarPublicidad"/>
            </when>
            <when expression="#[message.inboundProperties.'http.request.path'=='/gestionreserva']">
                <flow-ref name="gestionReserva" doc:name="gestionReserva"/>
            </when>
            <when expression="#[message.inboundProperties.'http.request.path'=='/suscripcion']">
                <flow-ref name="Suscripcion" doc:name="Suscripcion"/>
            </when>
            <when expression="#[message.inboundProperties.'http.request.path'=='/reservaPers']">
                <flow-ref name="reservaPersonalizada" doc:name="reservaPersonalizada"/>
            </when>
            <when expression="#[message.inboundProperties.'http.request.path'=='/reservaPack']">
                <flow-ref name="reservaPack" doc:name="reservaPack"/>
            </when>
            <otherwise>
                <set-payload value="#[&quot;No se ha encontrado la ruta especificada&quot;]" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <sub-flow name="EnviarPublicidad">
        <dw:transform-message doc:name="Transform Message" metadata:id="84b40b88-14fb-49c8-85a3-7b2c805057d8">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.example.org/GestionProveedores/
---
{
	ns0#LeerOfertasSiHay: {
		in: payload.in
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="gestionProveedores" operation="LeerOfertasSiHay" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="85664f86-34cb-481a-9fe5-499382f1849d">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.example.org/GestionProveedores/
---
{
	"1": payload.ns0#LeerOfertasSiHayResponse.mensaje,
	"2": payload.ns0#LeerOfertasSiHayResponse.prov1,
	"3": payload.ns0#LeerOfertasSiHayResponse.prov2,
	"4": payload.ns0#LeerOfertasSiHayResponse.prov3
}]]></dw:set-payload>
        </dw:transform-message>
        <component class="orquestacionfinal.transformacionOfertas" doc:name="Java"/>
        <set-payload value="#[&quot;Hola estimado cliente, estas son las ofertas que ofrecemos esta semana: \n&quot;+ message.payloadAs(java.lang.String)] " doc:name="Set Payload"/>
        <set-variable variableName="resultado" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#[&quot;12&quot;]" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.example.org/ServiciosExternos/
---
{
	ns0#obtenerEmails: {
		in: payload
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="obtenerEmails" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="f4dc8fed-bd8c-43b7-a5d5-52fe550f38ec">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.example.org/ServiciosExternos/
---
payload.ns0#obtenerEmailsResponse.emails as :string]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="emails" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#[flowVars.resultado]" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="sdsservidor@gmail.com" password="sds12345" connector-ref="Gmail" to="#[flowVars.emails]" from="sdsservidor@gmail.com" subject="Publicidad" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>
    <sub-flow name="Suscripcion">
        <dw:transform-message doc:name="Transform Message" metadata:id="d328f0f4-ae20-42df-9d18-349cb33f24ae">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.example.org/GestionProveedores/
---
{
	ns0#LeerOfertas: {
		in: payload.in
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer1" operation="LeerOfertas" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="97b73bed-3117-4d2c-896b-baeb6f6452e3">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.example.org/GestionProveedores/
---
{
	"1": payload.ns0#LeerOfertasResponse.mensaje,
	"2": payload.ns0#LeerOfertasResponse.prov1,
	"3": payload.ns0#LeerOfertasResponse.prov2,
	"4": payload.ns0#LeerOfertasResponse.prov3
}]]></dw:set-payload>
        </dw:transform-message>
        <component class="orquestacionfinal.transformacionSubscritos" doc:name="Java"/>
        <set-payload value="#[&quot;Hola estimado cliente (subscrito), estos son los servicios que ofrecemos: \n&quot;+ message.payloadAs(java.lang.String)] " doc:name="Set Payload"/>
        <set-variable variableName="resultado" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#[&quot;12&quot;]" doc:name="Set Payload"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.example.org/ServiciosExternos/
---
{
	ns0#obtenerEmailsSuscritos: {
		in: payload
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer2" operation="obtenerEmailsSuscritos" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="cfa4763c-a1a4-40b5-bc7b-b30ae509109e">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.example.org/ServiciosExternos/
---
payload.ns0#obtenerEmailsSuscritosResponse.emails]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="emails" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#[flowVars.resultado]" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="sdsservidor@gmail.com" password="sds12345" connector-ref="Gmail" to="#[flowVars.emails]" from="sdsservidor@gmail.com" subject="Ofertas" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>
    <sub-flow name="gestionReserva">
        <dw:transform-message metadata:id="7eab9bb1-8755-4473-9003-aa92555b3d61" doc:name="Transform Message">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://www.example.org/GestionReserva/
---
{
	ns0#EditarReserva: {
		id: payload.id,
		fechaEntrada: payload.fechaEntrada as :date,
		fechaSalida: payload.fechaSalida as :date,
		nombreCliente: payload.nombreCliente,
		emailCliente: payload.emailCliente,
		precio: payload.precio,
		ski: payload.ski as :boolean,
		material: payload.material as :boolean,
		profesor: payload.profesor as :boolean,
		alojamiento: payload.alojamiento as :boolean
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="reserva" value="#[payload]" doc:name="Variable"/>
        <ws:consumer config-ref="GestionReserva" operation="EditarReserva" doc:name="Web Service Consumer"/>
        <dw:transform-message metadata:id="922f8d54-74bc-4f38-a28d-19ed50ae59cf" doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
%namespace ns0 http://www.example.org/GestionReserva/
---
payload.ns0#EditarReservaResponse.salida]]></dw:set-payload>
        </dw:transform-message>
        <set-variable variableName="emial" value="#[payload]" doc:name="Variable"/>
        <set-payload value="#[&quot;Tu reserva ha sido actualizada \n&quot;]" doc:name="Set Payload"/>
        <smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="sdsservidor@gmail.com" password="sds12345" to="#[flowVars.emial]" from="sdsservidor@gmail.com" subject="Actualizada la Reserva" responseTimeout="10000" doc:name="SMTP"/>
    </sub-flow>
    <sub-flow name="reservaPersonalizada">
        <dw:transform-message doc:name="Transform Message" metadata:id="a55e788d-633c-43c4-b9a6-343ace5cfb3c">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://proyectoFinal
---
{
	ns0#ReservaPersRequest: {
		ns0#ski: payload.ski,
		ns0#material: payload.material,
		ns0#profesor: payload.profesor,
		ns0#alojamiento: payload.alojamiento,
		ns0#unidades: payload.unidades
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer3" operation="process" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="97177521-187e-4421-b3fd-987ee1e1f682">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://proyectoFinal
---
{
	precio: payload.ns0#ReservaPersResponse.ns0#precio,
	proveedor: payload.ns0#ReservaPersResponse.ns0#proveedor
}]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
    <sub-flow name="reservaPack">
        <dw:transform-message doc:name="Transform Message" metadata:id="9cedb8fa-a30f-4336-9f3a-72e155f19fea">
            <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://sample.bpel.org/bpel/sample
---
{
	ns0#ReservaPaRequest: {
		ns0#input: payload.input,
		ns0#proveedor: payload.proveedor
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer4" operation="process" doc:name="Web Service Consumer"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="37192710-080c-4221-9176-225b1c051665">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
%namespace ns0 http://sample.bpel.org/bpel/sample
---
{
	precio: payload.ns0#ReservaPaResponse.ns0#result,
	proveedor: payload.ns0#ReservaPaResponse.ns0#Proveedor
}]]></dw:set-payload>
        </dw:transform-message>
    </sub-flow>
</mule>
